@model ColegioApp.Models.Calificacion
@{
    ViewData["Title"] = "Notas";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Notas Actuales</h4>
</div>
<form >
    <div class="modal-body">

        <!-- Modal- body-->


        <div class="row">
            <div class="col-lg-12">
                <br />
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="form-horizontal form-label-left">

                                <div class="align-items-center">
                                    <h2> Materia :  @Html.DisplayFor(model => model.FkMateriaNavigation.Nombre)</h2>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Nota 1<span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input disabled type="text" asp-for="Nota1" required="required" class="form-control col-md-7 col-xs-12">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                        Nota 2<span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input disabled asp-for="Nota2" required="required" class="form-control col-md-7 col-xs-12">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Nota3<span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input disabled asp-for="Nota3" class="form-control" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Definitiva<span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input disabled asp-for="Definitiva" class="form-control" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                        Periodo<span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input disabled asp-for="FkPeriodoNavigation.Nombre" class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
    </div>
</form>



