@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>


    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">


            <img src="~/Imagenes/Mi proyecto (1).jpg" />

        </div>

        <div class="item">


            <img src="~/Imagenes/Mi proyecto.jpg" />
        </div>

        <div class="item">


            <img src="~/Imagenes/My project.jpg" />
        </div>


    </div>


    <h4><a target="_parent" title="ola como vas " href="Login.aspx"></a></h4>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="jumbotron">
    <style>
        .jumbotron {
            padding-top: 15px;
        }
    </style>
    <center>
        <h2>CONTROLSCHOOL</h2>
        <p class="lead">Software para la gestion de usuarios, gestión de notas de una escuela para mejor almacenamiento de la información</p>

    </center>
    <div class="row">
        <div class="col-sm-12">

            <div class="row">



            </div>



        </div>
    </div>

</div>
<br />

