@model ColegioApp.Models.Grado
@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Eliminar Grado</h4>
</div>
<form asp-action="Delete" method="post">
    <div class="modal-body">

        <!-- Modal- body-->


        <div class="row">
            <div class="col-lg-12">
                <br />
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="align-items-center">
                                <h2> ¿Seguro de eliminar Grado?  </h2>
                            </div>
                            <input type="hidden" asp-for="IdGrado" />

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Nombre <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">


                                    <input type="submit" asp-for="Nombre" required="required" class="form-control col-md-7 col-xs-12" disabled>
                                    <span asp-validation-for="Nombre" class="text-danger">  </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </div>
</form>




